<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/styles.css">

  <link href="https://fonts.googleapis.com/css?family=Lato|Yellowtail&display=swap" rel="stylesheet">

  <script src="{{url_for('static', filename='layout.js')}}" charset="utf-8"></script>


  <title>All Chat{% block title %}{% endblock %}</title>
</head>

<body>

  <div class="top-box">
    <nav>
      <a class="logo" href="/">All Chat</a>
    </nav>
    <div id="displayname"></div>
  {% block main %}{% endblock %}
<noscript>
  <style type="text/css">
    .page-container {
      display: none;
    }
  </style>
  This website requires Javascript to run. Please enaable it and try again.
</noscript>

</body>


</html>
