{% extends "layout.html" %}
{% block title %}: Add new channel{% endblock %}

{% block main %}
  <form id="newChannelForm" action="/newchannel" method="post">
    <input type="text" maxlength="200" name="name" placeholder="Conversation Title (Max length = 200 characters)" autocomplete="off">
    <button class="btn" type="submit" disabled="true" name="displayname" value="">Add</button>
  </form>
  {{msg}}
  </div>


  <script src="{{url_for('static', filename='newchannel.js')}}" charset="utf-8"></script>
{% endblock %}
